/* Padding - space withing the box */
.box1 {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}
.box2 {
  /* Clockwise */
  /* 1 value = all sides */
  /* 2 values = top/bottom, right/left*/
  /* 3 values = top, right/left, bottom*/
  /* 4 values = top, right, bottom, left */
  padding: 20px 30px 40px 50px;
}

/* Margin = the space outside of the box */
.box3 {
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 10px;
  margin-left: 20px;
}
.box4 {
  /* 1 value = all sides */
  /* 2 values = top/bottom, right/left */
  /* 3 values = top, right/left, bottom */
  /* 4 values = top, right, bottom, left */
  margin: 10px 20px;
}
.mix-borders {
  /* 1 value = all sides */
  /* 2 values = top/bottom, right/left */
  /* 3 values = top, right/left, bottom */
  /* 4 values = top, right, bottom, left */
  background-color: aquamarine;
  height: 100px;
  width: 200px;
  border-style: solid dotted dashed double;
  border-width: 4px 6px 8px 10px;
  border-color: tomato yellow blue green;
  border: 10px solid tomato;
}

.circle-container {
  background-color: aqua;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  text-align: center;
  color: tomato;
}
