.flexContainer {
  display: flex;
  flex-direction: column;
  flex-direction: row; /* Default */
}

.flexContainer {
  display: flex;
  flex-direction: column;
  flex-direction: row; /* Default */
  justify-content: center;
  justify-content: space-between;
  justify-content: space-around;
  justify-content: space-evenly;
  justify-content: flex-end;
  justify-content: flex-start; /* Default */
  align-items: center;
  align-items: flex-end;
  align-items: flex-start;
  align-items: stretch; /* Default */

  flex-wrap: wrap;
  flex-wrap: wrap-reverse;
  flex-wrap: nowrap;

  /* column-gap => jarak antar kotak */
  column-gap: 30px;
  row-gap: 30px;
  /* jika ingin keduanya */
  gap: 30px;
}

/* Willingness of the elements to grow */

.flexItem1 {
  flex-grow: 0; /* Default*/
  flex-grow: 1;
}
/* Willingness of the elements to shrink */

.flexItem1 {
  flex-shrink: 1; /* Default*/
  flex-shrink: 0;
}

/* Apply it to only one */

.flexItem2 {
  align-self: flex-start;
  align-self: flex-end;
  align-self: center;
}
